<script type="text/javascript">
  var element = document.getElementById("home-link");

</script>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
      <img src="/img/logoWhite.png" id="logo" alt="로고" style="margin-bottom: 30px">
        <br>
        <%= link_to 'Write Down What you :D:D Today 😎', new_home_path, :class => "btn btn-home btn-lg" %>
    </div>
</header>
