<header id="top" class="header">
    <div class="text-vertical-center">
      <h2 id="new-title">Search Date :D</h2>

      <form action="/list/index" method="POST" enctype="multipart/form-data">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <h4>Year</h4>
            <div class="circle circleDate">
              <input type="text" name="year" value="" placeholder="2017" class="date">
            </div>

          </div>
          <div class="col-xs-4">
            <h4>Month</h4>
            <div class="circle circleDate">
              <input type="text" name="month" value="" placeholder="12" class="date">
            </div>
          </div>
          <div class="col-xs-4">
            <h4>Day</h4>
            <div class="circle circleDate">
              <input type="text" name="day" value="" placeholder="21" class="date">
            </div>
          </div>
        </div>

        <br>
        <br>
        <div class="row">
          <div class="col-xs-12">
            <div class="actions">
              <button type="submit" class="btn btn-new-submit" name="button">Let's See 😀</button>
            </div>
          </div>
        </div>
      </div>
    </form>
      </div>

    </div>
</header>
